*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.image-background{
    /* position: absolute; */
    background-image: url("../components/aboutimage.jpg");
    z-index: -1;
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: -130px;
    height: 50vh;
    width: 100vw;
  
  }

  /* .main_about{
    align-items: center;
  } */
        .ab_head{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        
        .ab_head {
           
          
            padding: 20px;
        }

        .ab_head h1 {
            font-size: 2.5rem;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
        }
        .ab_head h2 {
            font-size: 1.8rem;
            font-family: 'Poppins', sans-serif;
        }
        
        .ab_para {
            background-color: #f1f1f1;
            padding: 20px;
            width: 70vw;
            font-family: 'Lato', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ab_h {
            display: flex;
            justify-content: center;
        }
        
        .ab_choose {

            
            padding: 20px;
        }
        
        .ab_choose h3 {
            font-size: 2.5rem;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            
            display: flex;
            justify-content: center;
            margin: 28px;
        }
        
        .ab_choose p {
            background-color: #fff;
            color: #333;
            padding: 10px;
            width: 70vw;
            font-family: 'Lato', sans-serif;  
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: left;
            
            max-width: 100%;
        }

        .ab_p{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* Add this CSS to your Aboutus.css file */
.animated-bg {
    animation: fadeIn 1s ease-in-out, dropShadow 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dropShadow {
    0% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    }
}
/* Add this CSS rule to your Aboutus.css file */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.whyus_img{
    width: 100%;
    height: 50vh;
   background-image: url('../components/whyus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.r1{
    margin: 0 8rem 5rem 8rem;
}