/* src/components/CardSlider.css */
.containerc{
    position: relative;
    margin-top: 50px;
    margin: 5rem;
    /* border: 2px solid black; */
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(243, 241, 241);
}
.testimo-card-slider {
    position: relative;
    width: 100%;
    margin-top: 10px;
    
}
  
  .testimo-card-slider h1{
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: "Poppins", sans-serif;

    text-align: center;
    margin-top: 80px;
    margin-bottom: -50px;
    font-size: 32px;
    font-weight: 600;
   
  }
  .testimo-square-card {
    width: 250px; /* Increase the card size */
    height: 250px; /* Increase the card size */
    margin: 0 10px; 
    padding: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ddd; */
    /* background-color: rgb(16, 213, 148); */
    /* border-radius: 10px; */
  }
  
  .testimo-square-card .card-title {
    font-size: 20px; /* Increase the title font size */
    margin: 10px 0;
    text-align: center;
  }
  
  .testimo-square-card .card-text {
    font-size: 16px; /* Increase the text font size */
    text-align: center;
  }
  

  /* In your Cardslider.css file or your preferred CSS file */
.card-img {
  max-width: 100%; /* Limit the maximum width of the image to fit the card */
  max-height: 100%; /* Limit the maximum height of the image to fit the card */
 /* / object-fit: cover; Fit the image within the specified dimensions */
  /* border-radius: 15px; */
}

.card-overlay {
  position: absolute;
  top: 8px;
  left: 0;
  background-color:rgb(219, 53, 53);
  color: white;
  /* padding: 5px 30px; */
  width: 5rem;
  /* height: 15px; */
  padding: 2px;
  text-align: center;
  z-index: 1; /* To place it above the image */
}


